@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>Hire a new Engineer</h4>

@using (Html.BeginForm())
{

    @Html.LabelFor(model => model.EngineerName)
    @Html.TextBoxFor(model => model.EngineerName)

    @Html.Label("Select Machine")
    @Html.DropDownList("MachineId")

    @Html.Label("Hire Date")
    @Html.TextBoxFor(model => model.HireDate, new { @type = "date"})

    <input type="submit" value="Hire Engineer" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all Engineers", "Index")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>